.contentBox{
    min-height: 100vh;
    width: 100%;
    padding-left: 5%;
    padding-right:5%;
    padding-top: 15%;
}
.contentOverlay{
    border-radius: 5px;
    background: rgba(27, 35, 41, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 10%;
}
.projectsHeader{
    text-decoration: underline;
}
.contentBoxProjects{
    display: flex;
    flex-direction: row;
    gap: 5%;
}