.nav{
  height: 100%; /* 100% Full-height */
  width: 20vw; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right:0;
  overflow-x: hidden; /* Disable horizontal scroll */
  text-align: center;
  padding-top:15%;
  background-color: rgba(0,0,0,0);
  }
  .nav li{
    font-size: 1.4em;
    margin-bottom: 10%;
    list-style: none;
    transition: 250ms;
  }
  
  .nav li:hover{
    transform: translateX(-5%);
    font-size: 1.5em;
    margin-bottom: 10%;
    list-style: none;
  }
  .nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.514);
  }
  .nav a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }
  @media (max-width: 600px) {
    .nav{
      padding-top:0;
      height: 7vh; 
      width: 100%; 
      position: fixed; 
      z-index: 1; 
      background-color: rgba(0,0,0,.7);
      overflow: hidden;
      }
      .nav ul{
        padding-left:0;
        height: 100%;
        justify-content: center;
        display:flex;
        flex-direction: row;
        align-items: flex-start;
      }
      .nav li{
        flex:1;
        list-style: none;
        font-size: .9rem;
        transition: 250ms;
        margin-bottom: 0%;

      }
      
      .nav li:hover{
        transform: translateX(0%);
        
        background:white;
        font-size: .9rem;
        margin-bottom: 0%;
        list-style: none;
      }
      .nav a{
        text-decoration: none;
        color: white;
      }
      .nav li:hover a{
        color: black;
      }
      .contact{
        display: none;
      }
  }