.projectBox{
    background-color:rgba(0,0,0,.2);
    border-radius: 5px;
    height: auto;
    width: 200px;
    transition:250ms;
    padding: 1%;
}
.projectBox .descriptionFull{
    display:none;
}
.projectBox:hover{
    padding: 1%;
    background-color:rgba(0,0,0,.6);
    border-radius: 5px;
    height: 200px;
    width: 300px;
    cursor: pointer;
}
.projectBox .header{
    font-size: 1.1rem;
}
.descriptionShort{
    font-size: .9rem;
    font-weight: 400;
}
.descriptionFull{
    font-size: .9rem;
    font-weight: 400;
}
.projectBox:hover .descriptionShort{
    display:none;
}
.projectBox:hover .descriptionFull{
    display: block;
}